<div data-sly-use.componentBean="io.ecx.aem.aemsp.core.components.page.biddingpage.BiddingPageComponentBean" data-sly-unwrap>
	<div class="container">
  		<div class="wrapper">
    		<main role="main" id="main">
    			<!--/*  Does Bidding page have a thumbnail?
    			<div data-sly-test="${wcmmode.edit && !componentBean.validThumb}" class="alert alert-danger" role="alert">
			   		${'aemsp_articleNotValidThumbnailErrorMessage' @ i18n}
				</div>*/-->
				<div class="module module-imageTeaser topArticle">
					<figure>
						<div data-sly-resource="${'parArticleImage' @ resourceType='aemsp/components/par/lockedpar'}" data-sly-unwrap></div>
					</figure>
				    <div data-sly-test="${componentBean.backAndShareBarPosition == 'after-image'}" data-sly-resource="${'backAndShareBar' @ resourceType='aemsp/components/par/backAndShareBar'}" data-sly-unwrap></div>
 					<div class="head">
 						<span class="prefix border">
							<div data-sly-test="${componentBean.region}" data-sly-unwrap>${componentBean.region}</div>
						</span>
		            	<div data-sly-resource="${'parHead' @ resourceType='aemsp/components/par/lockedpar'}" data-sly-unwrap></div>
					</div>
    				<div class="wrapper">
						<div class="metaInfo">${'aemsp_bidding_enddate' @ i18n}: ${componentBean.endDate}</div>
					</div>
					<div data-sly-test="${componentBean.backAndShareBarPosition == 'after-meta'}" data-sly-resource="${'backAndShareBar' @ resourceType='aemsp/components/par/backAndShareBar'}" data-sly-unwrap></div>
				    <div data-sly-test="${componentBean.backAndShareBarPosition == 'after-teaser'}" data-sly-resource="${'backAndShareBar' @ resourceType='aemsp/components/par/backAndShareBar'}" data-sly-unwrap></div>
					<div data-sly-resource="${'parRte' @ resourceType='aemsp/components/par/lockedpar'}"  data-sly-unwrap></div>
					<div data-sly-resource="${'rtePar' @ resourceType='foundation/components/parsys'}" data-sly-unwrap></div>
				</div>
			</main>
		    <aside role="sidebar" id="sidebar">  		      
		    </aside>
 		</div>
 	</div>
</div>